.home-page {
    margin: 2.5%;
}

.home-page > h1 {
    padding-bottom: 2%;
}

.home-page .nav {
    margin: auto;
    width: 50%;
    margin-bottom: 2%;
}

.home-page button {
    margin-right: 15px;
}

.home-page .logout {
    right: 0%;
}