.home-page {
    margin: 2.5%;
}

.home-page > h1 {
    padding-bottom: 2%;
}

.home-page .nav {
    margin: auto;
    width: 50%;
    margin-bottom: 2%;
}

.home-page button {
    margin-right: 15px;
}

.home-page .logout {
    position: absolute;
    right: 18%;
}

.home-page table {
    max-width: 65%;
}

.home-page table.center {
    margin-left: auto;
    margin-right: auto;
}

.home-page .entity {
    font-size: 2rem;
    cursor: pointer;
}

.home-page .remove {
    color: red;
}

.home-page .favorite {
    color: #f0c243;
}