.home-page {
    margin: 2.5%;
}

.home-page > h1 {
    padding-bottom: 2%;
}

.home-page .logout {
    right: 0%;
}

.entity {
    font-size: 2rem;
    cursor: pointer;
}

.remove {
    color: red;
}

/* Top Navigation Bar */
.home-page .top-nav-bar {
    overflow: hidden;
    max-width: 50%;
    margin: auto;
    margin-bottom: 1rem;
}
.home-page .top-nav-bar > ul > li {
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.home-page .top-nav-bar > ul > li > a {
    text-decoration: none;
    color: black;
}

/* Side Navigation Bar */
.side-nav-bar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 5%;
}
.side-nav-bar > ul > li > a {
    color: #818181;
    font-size: x-large;
    text-decoration: none;
    display: block;
    padding: 10px;
}